@tailwind base;
@tailwind components;
@tailwind utilities;

:not(:defined) {
  visibility: hidden;
}

.task-card--selected {
  background-color: var(--sl-color-primary-100);
  border: 2px solid var(--sl-color-primary-500);
  box-shadow: 0 0 10px var(--sl-color-shadow);
  border-radius: 7px;
}

:root,
:host,
.sl-theme-light {
  --sl-color-primary-50: #f0f0f0;
  --sl-color-primary-100: #d9d9d9;
  --sl-color-primary-200: #bfbfbf;
  --sl-color-primary-300: #a6a6a6;
  --sl-color-primary-400: #8c8c8c;
  --sl-color-primary-500: #737373;
  --sl-color-primary-600: #595959;
  --sl-color-primary-700: #404040;
  --sl-color-primary-800: #262626;
  --sl-color-primary-900: #0d0d0d;

  --sl-color-success-50: #f0f9f0;
  --sl-color-success-100: #d9f2d9;
  --sl-color-success-200: #bfe6bf;
  --sl-color-success-300: #a6d9a6;
  --sl-color-success-400: #8ccc8c;
  --sl-color-success-500: #73bf73;
  --sl-color-success-600: #59b259;
  --sl-color-success-700: #40a640;
  --sl-color-success-800: #269926;
  --sl-color-success-900: #0d8c0d;

  --sl-color-danger-50: #f9f0f0;
  --sl-color-danger-100: #f2d9d9;
  --sl-color-danger-200: #e6bfbf;
  --sl-color-danger-300: #d9a6a6;
  --sl-color-danger-400: #cc8c8c;
  --sl-color-danger-500: #bf7373;
  --sl-color-danger-600: #b25959;
  --sl-color-danger-700: #a64040;
  --sl-color-danger-800: #992626;
  --sl-color-danger-900: #8c0d0d;

  --sl-color-warning-50: #f9f9f0;
  --sl-color-warning-100: #f2f2d9;
  --sl-color-warning-200: #e6e6bf;
  --sl-color-warning-300: #d9d9a6;
  --sl-color-warning-400: #cccc8c;
  --sl-color-warning-500: #bfbf73;
  --sl-color-warning-600: #b2b259;
  --sl-color-warning-700: #a6a640;
  --sl-color-warning-800: #999926;
  --sl-color-warning-900: #8c8c0d;

  --sl-color-neutral-50: #f5f5f5;
  --sl-color-neutral-100: #e0e0e0;
  --sl-color-neutral-200: #cccccc;
  --sl-color-neutral-300: #b3b3b3;
  --sl-color-neutral-400: #999999;
  --sl-color-neutral-500: #808080;
  --sl-color-neutral-600: #666666;
  --sl-color-neutral-700: #4d4d4d;
  --sl-color-neutral-800: #333333;
  --sl-color-neutral-900: #1a1a1a;

  --sl-color-text-primary: var(--sl-color-neutral-900);
  --sl-color-text-secondary: var(--sl-color-neutral-700);
  --sl-color-text-disabled: var(--sl-color-neutral-500);

  --sl-color-background: var(--sl-color-neutral-50);
  --sl-color-surface: var(--sl-color-neutral-100);
  --sl-color-surface-variant: var(--sl-color-neutral-200);
  --sl-color-outline: var(--sl-color-neutral-400);
  --sl-color-outline-variant: var(--sl-color-neutral-300);
  --sl-color-shadow: rgba(0, 0, 0, 0.2);
}
